@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
<body>
    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">ประวัติการศึกษา</h1>
                        <p class="mb-4">ประวัติการศึกษาแริ่มตั้งแต่ประถมศึกษาจนถึงระดับ ปวช.</p>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>การศึกษา</th>
                                                <th>สถานที่จบ</th>
                                                <th>ปีที่จบ</th>
                                            </tr>
                                        </thead>
                            
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>ประถมศึกษา</td>
                                                <td>โรงเรียนเทศบาลวัดเวฬุวัน</td>
                                                <td>2557</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>มัธยมศึกษาตอนต้น</td>
                                                <td>โรงเรียนธวัชบุรีวิทยาคม</td>
                                                <td>2560</td>
                                            </tr>
                                             <tr>
                                                <td>3</td>
                                                <td>ประกาศนียบัตรวิชาชีพ</td>
                                                <td>วิทยาลัยเกษตรและเทคโนโลยีร้อยเอ็ด</td>
                                                <td>2563</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
    </div>
</body>