@model Employee
<html>
    <head>
        <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></link>
    </head>
    <body>
        <form asp-controller="Home" asp-action="Emp" method="post" class="mt-3">
            <div class="form-control">
                <div>
                    <label asp-for="Name" class="col-sm1 col-form-label"></label>
                    <input asp-for="Name" class="form-control"></input>
                </div>
                <div>
                    <label asp-for="Email" class="col-sm1 col-form-label"></label>
                    <input asp-for="Email" class="form-control"></input>
                </div>
                <div>
                    <label asp-for="Department" class="col-sm1 col-form-label"></label>
                    <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control"></select>
                </div>
                <div>
                    <label asp-for="Detail" class="col-sm1 col-form-label"></label>
                    <textarea asp-for="Detail" class="form-control"></textarea>
                </div>
                <div>
                    <input type="button" value="Create" class="accordion-button"></input>
                </div>
            </div>
        </form>
    </body>
</html>